<h1>Filiais cadastrada</h1>
<%= link_to 'Registrar nova filial', new_subsidiary_path%>
<ul>
<% @subsidiaries.each do |subsidiary|%>
  <li><%= link_to subsidiary.name, subsidiary%></li>
<%end%>
</ul>
<%if @subsidiaries.empty?%>
  <p>Nenhuma filial cadastrada</p>
<%end%>

<%= link_to 'Voltar', root_path%>