<%if @subsidiaries.empty?%>
  <p>Nenhuma filial cadastrada</p>
<%else%>
  <% @subsidiaries.each do |subsidiary|%>
    <%= link_to subsidiary.name, subsidiary%>
  <%end%>
<%end%>
<%= link_to 'Registrar nova filial', new_subsidiary_path%>
<%= link_to 'Voltar', root_path%>