<h1>Clientes cadastrados</h1>
<%= link_to 'Registrar novo cliente', new_customer_path%>
<ul>
<% @customers.each do |customer|%>
    <li><%= link_to customer.name, customer%></li>
<%end%>
</ul>
<%if @customers.empty?%>
  <p>Nenhuma categoria cadastrada</p>
<%end%>

<%= link_to 'Voltar', root_path%>