<h1>Categoria de carro</h1>

<%= link_to 'Registrar nova categoria', new_car_category_path%>
<ul>
<% @car_categories.each do |car_category|%>
  <dl>
    <dt>Nome</dt>
    <dd><%= link_to "Categoria #{car_category.name}", car_category %></dd>
    <dt>Preço</dt>
    <dd><%= "Preço da diaria: #{number_to_currency(car_category.daily_rate)}"%></dd>
  </dl>
<%end%>
</ul>
<%if @car_categories.empty?%>
  <p>Nenhuma categoria cadastrada</p>
<%end%>
  
<%= link_to 'Voltar', root_path%>