<%if @car_categories.empty?%>
  <p>Nenhuma categoria cadastrada</p>
<%else%>
  <% @car_categories.each do |car_category|%>
    <%= link_to car_category.name, car_category%>
  <%end%>
<%end%>
<%= link_to 'Registrar nova categoriaial', new_car_category_path%>
<%= link_to 'Voltar', root_path%>